@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$blue-palette,
      tertiary: mat.$cyan-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: dark;
  background-color: #0f0f0f;
  color: #e5e5e5;
  font: var(--mat-sys-body-medium);
  margin: 0;
}
